<div class="container text-center index-box" id="summary">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

    <h1 class="index-title">All Cocktails</h1>
      <% if @term == nil %>
      <% "" %>
      <% else %>
      <p><strong><%= @cocktails.size %></strong> search result for <strong><%= @term %></strong></p>
      <% end %>

      <div class="row">


          <% @cocktails.each do |cocktail| %>
          <div class="col-sm-6 col-md-4">
            <div class="cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('<%= cl_image_path 'e9jtjmdeha8ggojnnnvj', crop: :fill %>')">

              <div class="cocktail-hover">
                <%= link_to cocktail_path(cocktail) do %>
                  <i class="fas fa-glass-martini"></i>
                  <p>View Ingredients </p>
                <% end %>
              </div>

              <h2><%= cocktail.name %></h2>
            </div>
          </div>
          <% end %>

      </div>

      <span class="index-footer"></span>

      </div>
    </div>
  </div>

