<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="cocktail-info">
      <h1><%= @cocktail.name %></h1>
      <hr class="divider">


        <div class="row">
          <div class="col-sm-6">
            <% if @cocktail.photo.url.nil? %>
              <%= image_tag("placeholder.png", class: "cocktail-img") %>

            <% else %>
            <%= cl_image_tag @cocktail.photo, class: "cocktail-img",  crop: :fill %>
            <% end %>
          </div>
          <div class="col-sm-6">

            <div class="dose-title courgette">
              <span>Ingredients</span>
            </div>

            <div class="dose-list">
              <% @doses.each do |dose| %>
                <p>
                  <strong><%= dose.description %></strong>
                  <%= dose.ingredient.name %>
                  <%= link_to dose_path(dose), method: :delete do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </p>
              <% end %>
            </div>

              <hr class="divider">

            <div class="dose-title-small">
              <span>Feel free to add a new ingredient:</span>
            </div>

            <div class="dose-form">
              <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
            </div>
          </div>
        </div>

    </div>

    <div class="rewies review-box">

      <div class="review-list">
        <div class="review-title courgette">
          <span>Reviews</span>
        </div>
          <% if @reviews.empty? %>
            <p>No reviews yet.</p>
          <% else %>
            <div class="row">
            <% @reviews.each do |review| %>
            <% num = review.rating %>
            <% anum = 5 - review.rating %>
              <div class="col-sm-3">
                <% num.times do %>
                <i class="fas fa-star" style="color: #f9d949"></i>
                <% end %>
                <% anum.times do %>
                <i class="far fa-star" style="color: #f9d949"></i>
                <% end %>
                <p>"<%= review.content.truncate(30) %>"</p>
                </div>
                <% end %>
            </div>
          <% end %>
      </div>

      <hr class="divider">

      <div class="review-title">
        <span>Review this Cocktail</span>
      </div>
      <%= render "reviews/form", cocktail: @cocktail, review: @review %>
    </div>

    <div class="text-center">
      <p><%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-primary btn-secondary" %></p>
    </div>

    </div>
  </div>
</div>
