<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="cocktail-info">

        <h1><%= @cocktail.name %></h1>
        <hr class="divider">
        <span class="cocktail-title">Ingredients</span>
            <div class="dose">
              <ul class="dose-details" style="list-style: none">
                  <% @doses.each do |dose| %>
                    <li>
                      <p>
                        <%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "Delete Ingredient", dose_path(dose), method: :delete %>
                      </p>
                    </li>
                  <% end %>
              </ul>
            </div>

            <br>
            <p><%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %></p>
      </div>
      <div class="text-center">
      <p><%= link_to "Back to Cocktails", cocktails_path, class: "btn btn-primary" %></p>
      </div>

    </div>
  </div>
</div>
