    <div class="navbar-cocktail">
      <div class="logo-box">
        <%= image_tag("tailor.png", class: "menu_icon") %>
        <div>
          <h3><%= link_to "Cocktailr.", root_path, class: "logo-link" %></h3>
        </div>

      </div>
      <div class="navbar-buttons">
        <%= form_tag(cocktails_path, method: :get, class: "navbar-search") do %>
          <%= text_field_tag :term, params[:term], class: "form-control",placeholder: "Search for cocktail..." %>
        <% end %>
        <div>
          <%= link_to "Add Your Cocktail", new_cocktail_path, class: "btn btn-primary btn-white" %>
        </div>
      </div>
    </div>
